*.o
*.dat
*.autosave
*Makefile
*.Debug
*.Release
*.ts
*.user
*.log
release/*.cpp
release/*/*.cpp
ui*
release/Schedule_and_logs/mux_log.txt
*.user
*.3-pre1
Source/TvARP_Ingest.pro.user
*.log
Source/TvARP.pro.user
*.user